<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config />
    <bean id="instrument" class="com.zero4kevin.spring.performance.Piano"/>

    <bean id="kenny" class="com.zero4kevin.spring.performance.InstrumentalistAutoWiring" autowire="byName">
        <property name="song" value="Jingle Bell"/>
        <property name="age" value="37"/>
    </bean>

</beans>