<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="duke" class="com.zero4kevin.spring.performance.Juggler" scope="prototype">
        <constructor-arg name="beanBags" value="9527"/>
    </bean>

    <bean id="sonnect29" class="com.zero4kevin.spring.performance.Sonnet29"/>

    <bean id="poeticDuke" class="com.zero4kevin.spring.performance.PoeticJuggler">
        <constructor-arg value="888"/>
        <constructor-arg ref="sonnect29"/>
    </bean>
    <bean id="theStage" class="com.zero4kevin.spring.performance.Stage" factory-method="getInstance"/>

    <bean id="kenny" class="com.zero4kevin.spring.performance.Instrumentalist">
        <property name="song" value="Jingle Bell"/>
        <property name="age" value="37"/>
        <property name="instrument" ref="piano"/>
    </bean>

    <bean id="saxophone" class="com.zero4kevin.spring.performance.Saxophone"/>
    <bean id="piano" class="com.zero4kevin.spring.performance.Piano"/>

    <bean id="oneManBand" class="com.zero4kevin.spring.performance.OneManBand">
        <property name="instrumentMap">
            <map>
                <entry key="piano" value-ref="piano"/>
                <entry key="saxophone" value-ref="saxophone"/>
            </map>
        </property>
    </bean>

</beans>