<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="audience" class="com.zero4kevin.spring.aopdemo.Audience" />
    
    <aop:config>
       <aop:aspect ref="audience">
           <aop:pointcut id="performance" expression="execution(* com.zero4kevin.spring.performance.interfaces.Performer.perform(..))"/>
           <aop:before pointcut-ref="performance" method="takeSeats"/>
           <aop:before pointcut-ref="performance" method="turnOffCellPhones()"/>
           <aop:after-returning method="applaud" pointcut-ref="performance"/>
           <aop:after-throwing method="demandRefund" pointcut-ref="performance"/>
       </aop:aspect>
    </aop:config>

</beans>